name: CI build

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        version:
          - 5.15.0
        platform:
          - gcc_64
          - android
          - wasm_32
          - msvc2019_64
          - msvc2019
          - winrt_x64_msvc2019
          - winrt_x86_msvc2019
          - winrt_armv7_msvc2019
          - mingw81_64
          - mingw81_32
          - clang_64
          - ios

        include:
          - platform: gcc_64
            os: ubuntu-latest
            install: "true"
            cache-mode: "default"
          - platform: android
            os: ubuntu-latest
            cache-mode: "default"
          - platform: wasm_32
            os: ubuntu-latest
            emsdk: sdk-fastcomp-1.39.8-64bit
#            emsdk: 1.39.8
            cache-mode: "default"
            emprefix: "emcmake"
          - platform: msvc2019_64
            os: windows-latest
            install: "true"
            cmake-args: -G "NMake Makefiles"
            cache-mode: "default"
          - platform: msvc2019
            os: windows-latest
            install: "true"
            cmake-args: -G "NMake Makefiles"
            cache-mode: "default"
          - platform: winrt_x64_msvc2019
            os: windows-latest
            cmake-args: -G "NMake Makefiles"
            cache-mode: "default"
          - platform: winrt_x86_msvc2019
            os: windows-latest
            cmake-args: -G "NMake Makefiles"
            cache-mode: "default"
          - platform: winrt_armv7_msvc2019
            os: windows-latest
            cmake-args: -G "NMake Makefiles"
            cache-mode: "default"
          - platform: mingw81_64
            os: windows-latest
            install: "true"
            cmake-args: -G "MinGW Makefiles"
            cache-mode: "default"
          - platform: mingw81_32
            os: windows-latest
            install: "true"
            cmake-args: -G "MinGW Makefiles"
            cache-mode: "default"
          - platform: clang_64
            os: macos-latest
            install: "true"
            cache-mode: "none"
          - platform: ios
            os: macos-latest
            cache-mode: "none"

    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: recursive
      - uses: actions/setup-python@v1
      - uses: mymindstorm/setup-emsdk@v5
        if: matrix.platform == 'wasm_32'
        with:
          version: ${{matrix.emsdk}}
          actions-cache-folder: emsdk-cache
      - uses: Skycoder42/action-setup-qt@master
        id: qt
        with:
          version: ${{matrix.version}}
          platform: ${{matrix.platform}}
          cache-mode: ${{matrix.cache-mode}}
      - run: mkdir build && cd build
      - name: cmake
        working-directory: build
        env:
          CMAKE_PREFIX_PATH: ${{steps.qt.outputs.qtdir}}
          CMAKE_FIND_ROOT_PATH: ${{steps.qt.outputs.qtdir}}
        run: ${{matrix.emprefix}} cmake -C ../caches/${{matrix.platform}}.cmake -DCMAKE_INSTALL_PREFIX=${{steps.qt.outputs.installdir}} -DCMAKE_BUILD_TYPE=Release ${{matrix.cmake-args}} ..
      - run: |
          set -x
          ls -lsa build/
          file build/LatestGate.json
          cat build/LatestGate.json
        if: always() && matrix.os != 'windows-latest'
      - name: build
        working-directory: build
        run: cmake --build . --config Release
      - name: bundle
        if: matrix.platform == 'android'
        working-directory: build
        run: cmake --build . --target aab
      - name: install
        if: matrix.install == 'true'
        working-directory: build
        run: cmake --install . --config Release

